#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&sk { release-after-ms = <60000>; };

/ {
    behaviors {
        m_release_key_twice: m_release_key_twice {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
        };

        m_press_key_twice: m_press_key_twice {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER &macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_tap>,
                <&m_release_key_twice 0>;
        };

        sticky_forever: sticky_forever {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&m_press_key_twice>;
            release-after-ms = <4294967295>;
            ignore-modifiers;
        };

        cm_gui: cm_gui {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sticky_forever LGUI>, <&m_release_key_twice LGUI>;

            mods = <MOD_LGUI>;
            keep-mods = <MOD_LGUI>;
        };

        cm_alt: cm_alt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sticky_forever LALT>, <&m_release_key_twice LALT>;

            mods = <MOD_LALT>;
            keep-mods = <MOD_LALT>;
        };

        cm_ctrl: cm_ctrl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sticky_forever LCTRL>, <&m_release_key_twice LCTRL>;

            mods = <MOD_LCTL>;
            keep-mods = <MOD_LCTL>;
        };

        cm_sft: cm_sft {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sticky_forever LSHIFT>, <&m_release_key_twice LSHIFT>;

            mods = <MOD_LSFT>;
            keep-mods = <MOD_LSFT>;
        };

        m_hold_mod_press_key: m_hold_mod_press_key {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&macro_param_2to1 &kp MACRO_PLACEHOLDER>;
        };

        la: la {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_tap>,
                <&kp 0>,
                <&macro_press>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER &kp LSHFT &kp LCTRL &kp LALT &kp LGUI>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 1>;
            then-layer = <1>;
        };
    };
};

/ {
    macros {
    };

    keymap {
        compatible = "zmk,keymap";

        def_layer {
            bindings = <
&kp Q        &kp W             &kp E   &kp R               &kp T  &kp Y  &kp U          &kp I      &kp O    &kp P
&kp A        &kp S             &kp D   &kp F               &kp G  &kp H  &kp J          &kp K      &kp L    &mt RIGHT_CONTROL SEMICOLON
&mt LCTRL Z  &mt LEFT_SHIFT X  &kp C   &kp V               &kp B  &kp N  &kp M          &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
                               &trans  &mt LEFT_WIN SPACE  &mo 3  &mo 1  &kp BACKSPACE  &trans
            >;
        };

        sym_layer {
            bindings = <
&kp N1         &kp N2         &kp N3        &kp N4         &kp N5        &kp N6      &kp N7         &kp N8        &kp N9      &kp N0
&to 2          &kp DOT        &kp COMMA     &kp LS(QMARK)  &kp FSLH      &kp APOS    &kp LS(LPAR)   &kp LS(LBRC)  &kp LBKT    &to 2
&kp LS(TILDE)  &kp LS(UNDER)  &kp LS(PLUS)  &kp LS(POUND)  &kp LS(DLLR)  &kp LS(AT)  &kp LS(AMPS)   &kp LS(STAR)  &kp LS(LT)  &kp LS(GT)
                              &trans        &kp SPACE      &trans        &trans      &kp BACKSPACE  &trans
            >;
        };

        alt_sym_layer {
            bindings = <
&kp N1        &kp N2         &kp N3     &kp N4         &kp N5         &kp N6       &kp N7         &kp N8        &kp N9      &kp N0
&kp LS(PIPE)  &kp LS(COLON)  &kp SEMI   &kp LS(EXCL)   &kp BSLH       &kp LS(DQT)  &kp LS(RPAR)   &kp LS(RBRC)  &kp RBKT    &kp LS(CARET)
&kp GRAVE     &kp LS(UNDER)  &kp EQUAL  &kp LS(POUND)  &kp LS(PRCNT)  &kp LS(AT)   &kp LS(AMPS)   &kp LS(STAR)  &kp LS(LT)  &kp LS(GT)
                             &trans     &kp SPACE      &trans         &trans       &kp BACKSPACE  &trans
            >;
        };

        nav_layer {
            bindings = <
&kp LG(Q)   &kp LG(MINUS)  &kp LG(EQUAL)  &kp LG(R)  &kp LC(LS(TAB))   &kp RC(TAB)  &kp C_PREVIOUS  &kp C_NEXT      &kp C_VOLUME_DOWN  &kp C_VOLUME_DOWN
&kp ESCAPE  &kp LG(H)      &kp LG(K)      &kp LG(L)  &kp ENTER         &kp ENTER    &kp LEFT_ARROW  &kp UP_ARROW    &kp RIGHT_ARROW    &kp PG_UP
&kp LCTRL   &kp LSHIFT     &kp LG(J)      &kp LG(C)  &kp C_PLAY_PAUSE  &kp C_MUTE   &kp HOME        &kp DOWN_ARROW  &kp END            &kp PAGE_DOWN
                           &trans         &kp SPACE  &trans            &kp TAB      &kp BACKSPACE   &trans
            >;
        };

        fn_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans   &trans  &trans
&kp F1  &kp F2  &kp F3  &kp F4  &trans  &trans  &kp F7   &kp F8   &kp F9  &kp F10
&trans  &trans  &kp F5  &kp F6  &trans  &trans  &kp F11  &kp F12  &trans  &trans
                &trans  &trans  &trans  &trans  &trans   &trans
            >;
        };
    };
};
